* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
}

/* setup main grid for .header .nav .main .footer and width for mobile */
#wrapper {
    max-width: 485px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #000;
}

.header {
    text-align: center;
    padding: 10px;
    color: #007d7b;
    background-color: #fff;
}

/* setup the nav menu */
.nav {
    height: 60px;
}

.nav h2 {
    display: none;
}

.nav ul {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content:center;
    padding: 0 20px;
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    color: #fff;
    padding: 0 20px;
}

.nav a:hover {
    color: #007d7b;
}


/* setup grid for everything inside the main .about .gallery .contact */
.main {
    display: grid;
    grid-template-columns: 1fr;
}

.about {
    background-color: #fff;
    padding: 10px;
}

.about h2 {
    text-align: center;
}

.about > p {
    padding-bottom: 10px;
}

/* setup grid for text row and images row */
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #fff;
    padding: 10px;
}

.gallery > h2 {
    display: none;
}

.gallery-text h2 {
    text-align: center;
    padding: 10px;
}

.gallery .images > h2 {
    display: none;
}

.gallery .images img {
    width: 100%;
    padding: 10px;
}

/* setup a grid to place the images 1 column - 1 row */
.gallery .images {
    display: grid;
    grid-template-columns: 1fr;
}

/* different types of class captions */
.images_w_caption {
    position: relative;
    color: #fff;
    font-weight: bold;
}

.images_w_caption_black {
    position: relative;
    color: #000;
    font-weight: bold;
}

.caption-top {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 18px;
}

.caption-bottom {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 20px;
}

/* rest of the page */
.contact {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.footer {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.footer p {
    font-variant: small-caps;
}

[href="#top"] {
    position:fixed;
    bottom:0px;
    right:0px;
    color: #fff;
    background-color: #333;;
    z-index: 1;
}

/* Text */
p {
    font-size: 1.25em;
}

figcaption, label, input, small {
    font-size: 1em;
}

nav a {
    font-size: 1.5em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

/* Contact Form */
.contact h2 {
    margin-bottom: 20px;
}

.contact p {
    padding-left: 10px;
    padding-right: 10px;
}

/* actual contact form */
#contact {
    width: 450px;
    margin: 0 auto;
    margin-top: 20px;
}

#contact input {
    display: block;
    width: 450px;
    height: 30px;
    font-weight: bold;
    padding-left: 10px;
}

::placeholder {
    color: #007d7b;
    font-weight: bold;
    padding-left: 10px;
}

#contact label {
    display: block;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
}

#contact #button #submit {
    width: 300px;
    background-color: #007d7b;
    color: #fff;
    font-weight: bold;
    margin: 20px auto;
}

#submit {
    border-radius: 10px;
    cursor: pointer;
}

#contact #button > h2 {
    display: none;
} 

/* Media queries */
@media(min-width: 880px) {

    #wrapper {
        max-width: 880px;
    }

    .header h1 {
        text-align: left;
    }

    .nav a {
        padding: 0 30px;
    }

    /* change grid to 2fr to accomodate 2 columns of pictures */
    .gallery .images {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery .gallery-text {
        grid-column: 1 / 3;
    }

    /* adjust the contact form width */
    #contact {
        width: 700px;
    }

    #contact input {
        width: 700px;
    }
}

@media(min-width: 1300px) {

    #wrapper {
        max-width: 1300px;
    }

    .nav ul {
        justify-content: right;
    }

    /* change grid to 3fr to accomodate 3 columns of pictures */
    .gallery .images {
        grid-template-columns: repeat(3, 1fr);
    }

    /* adjust the contact form width */
    #contact {
        width: 800px;
    }

    #contact input {
        width: 800px;
    }
}